@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,800);

body{
	font:400 14px/1.7 'Titillium Web', Helvetica, Arial, sans-serif;
	color: #263238;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	font-size: 17px;
	width: 147px;
	height: 46px;
	border: none;
	line-height: 46px;
	text-align: center;
	color: #FFF;
	background-color: #536DFE;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	opacity: .8;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	margin-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 800px;
	box-shadow: 0 7px 15px rgba(0,0,0,.5);
	position: relative;
}

.ba-product__logo{
	position: absolute;
	top: 0;
	left: 0;
}

.ba-slider--padTop{
	padding-top: 47px;

}

.slider-image{
	display: inline-block;
}

.ba-slider:after{
	content: "";
	position: absolute;
	top: 93.6%;
	left: 50%;
	margin-left: -8px;
	z-index: 100;
	width: 16px;
	height: 15px;
	background: url("../img/hand.png") 50% no-repeat;
}


/*----------------------------------------------item description----------------------------------------------------*/

/*---------Header*-----------------------*/

.ba-product__info{
	padding: 45px 40px 10px 32px;
	position: relative;
}

.ba-product__spec{
	position: absolute;
	font-size: 13px;
	line-height: 13px;
	text-decoration: none;
	right: 40px;
	top: 50px;
	color: #536DFE;
	font-weight: 800;
	padding-left: 20px;
}

.ba-product__spec:hover{
	opacity: .75;
}

.ba-product__spec:before{
	content: "";
	display: inline-block;
	width: 14px;
	height: 12px;
	background: url("../img/spec.png") 0 no-repeat;
	position: absolute;
	right: 37px;
	top: 0;
}

.ba-product__model{
	margin: 0;
}

.ba-product__title{
	margin: 0;
	padding-top: 2px;
	letter-spacing: .025em;
	font-size: 29px;
}

.ba-product__rights{
	font-size: 17px;
	vertical-align: top;
	display: inline-block;
	padding-top: 5px;
}

.ba-product__subtitle{
	margin: 0;
	font-size: 25px;
	line-height: 25px;
}

.ba-product__specification{
	color: #787E80;
	font-size: 17px;
	margin: 0;
	letter-spacing: .01em;
	padding-top: 19px;
	line-height: 24px;
}

.ba-product__description{
	font-size: 14px;
	margin: 0;
	letter-spacing: .025em;
	padding-top: 22px;
}

.ba-product__bluetooth{
	color: #6A80FE;
	text-decoration: none;
	-webkit-transition: text-shadow .3s ease-in;
	-moz-transition: text-shadow .3s ease-in;
	transition: text-shadow .3s ease-in;
}

.ba-product__bluetooth:hover{
	text-shadow: 1px 1px 1px #687ced;
}

/*--------------------------------------------------rating------------------------------*/

.ba-rating{
	padding-top: 22px;
}

.ba-rating__stars{
	display: inline-block;
	vertical-align: middle
}

.ba-rating__star{
	display: inline-block;
	height: 13px;
	width: 12px;
	margin-right: 1px;
	background: url("../img/rating.png") 0 -12px no-repeat;
}

.ba-rating__star--gold{
	background-position: 0 0;
}

.ba-rating__value{
	display: inline-block;
	padding-left: 27px;
}

.ba-rating__score{
	color: #F1425D;
	font-size: 15px;
	letter-spacing: .1em;
	font-weight: bold;
}

.ba-rating__reviews{
	color: #7A8082;
	font-size: 13px;
	letter-spacing: .025em;
}

/*------------------------------------------------booking form-----------------------------------------*/

.ba-product__meta{
	padding-top: 14px;
}

.ba-product__price{
	padding-top: 5px;
	color: #F1425D;
	font-size: 26px;
	letter-spacing: .035em;
	font-weight: bold;
	line-height: 26px;
}

.ba-product__overcosts{
	margin: 0;
	padding-top: 6px;
	color: #9BA3A7;
	font-size: 12px;
	letter-spacing: .05em;
}

/*------------------------------colorchoosing---------------------------------------------------*/

.ba-product__colorasc{
	font-size: 12px;
	padding-top: 0;
	margin: 0;
	letter-spacing: .01em;
}

.ba-product__colorcheck{
	display: inline-block;
	width: 21px;
	height: 21px;
	cursor: pointer;
	position: relative;
	background: red;
}

input[type=radio]{
	display: none;
}

input[type=radio]:checked + .ba-product__colorcheck {
	-webkit-box-shadow: 2px 8px 2px red;
	box-shadow: 2px 8px 2px red;
}


/*--------------------------------------Quantity----------------------------------------------------*/


.ba-product__qty{
	font-size: 13px;
	letter-spacing: .05em;
	line-height: 46px;
	font-weight: bold;
	margin: 0;
	display: inline-block;
	height: 46px;
	position: relative;
}

.ba-product__qty-field::-webkit-inner-spin-button,
.ba-product__qty-field::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ba-product__qty-field{
	margin-top: ;
	width: 50px;
	height: 44px;
	border: 1px solid #DDDDDD;
	text-align: center;
	font-size: 18px;
	letter-spacing: .025em;
	outline: none;
	margin-left: 7px;
	display: inline;

}

.ba-product__buttons{
	position: relative;
	height: 46px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 8px;
}

.ba-product__qty-up{
	border: none;
	background-color: transparent;
	display: inline-block;
	width: 11px;
	height: 6px;
	background: url("../img/counter.png") 0 0 no-repeat;
	position: absolute;
	right: 0;
	top: 5px;
	outline: none;
}

.ba-product__qty-down{
	border: none;
	background-color: transparent;
	display: inline-block;
	width: 11px;
	height: 6px;
	background: url("../img/counter.png") 0 -7px no-repeat;
	position: absolute;
	right: 0;
	bottom: 10px;
	outline: none;
}

.ba-product__qty-up:hover,
.ba-product__qty-down:hover{
	opacity: .7;
}
